@charset "utf-8";
@import url(font.css);

/* common */
body {
  width: 1900px;
}
.inner {
  width: 1200px;
  margin: 0 auto;
  color: #000;
}
h3 {
  font-size: 25px;
  margin-bottom: 30px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}

/* nav_top */
.header_top {
    width: 1900px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    position: relative;
  }
  .util {
    width: 1200px;
    height: 18px;
    margin: 0 auto;
    padding-top: 17px;
    display: flex;
    justify-content: flex-end;
  }
  .util_area {
    display: flex;
    gap: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #999;
    line-height: 1.6;
    padding-right: 30px;
  }
  .util_area li a {
    padding: 0 10px;
    position: relative;
  }
  .util_area li a::before {
    content: '';
    width: 1px;
    height: 8px;
    background: #ccc;
    position: absolute;
    top: 20%;
    right: -5px;
  }
  .util_area li:last-child a::before {
    content: '';
    display: none;
  }
  .sns_area {
    display: flex;
    justify-content: space-between;
  }
  
  /* header */
  header.on {
    position: sticky;
    top: 0;
    z-index: 20;
    background: #fff;
  }
  header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  header .inner h1 {
    width: 120px;
    height: 40px;
  }
  header .inner h1 a img {
    width: 100%;
    height: 100%;
  }
  nav {
    width: 947px;
    height: 100%;
    font-weight: 500;
    color: #000;
    font-size: 16px;
  
  }
  nav .gnb {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }
  nav .gnb  li {
    height: 100%;
    margin-left: 20px;
    box-sizing: border-box;
  }
  nav .gnb li:nth-child(4) a {
    color: #a8c345;
    border-bottom: 4px solid #a8c345;
    box-sizing: border-box;
  }
  nav .gnb li:hover a {
    color: #a8c345;
    border-bottom: 4px solid #a8c345;
    box-sizing: border-box;
  }
  nav .gnb li a {
    display: inline-block;
    height: 100%;
    padding: 0 15px;
    line-height: 76px;
    
  }
  nav .gnb li:first-child {
    width: 176px;
    box-sizing: border-box;
  }
  nav .gnb li:nth-child(2) {
    width: 155px;
  }
  nav .gnb li:nth-child(3) {
    width: 208px;
  }
  nav .gnb li:nth-child(4) {
    width: 208px;
  }
  nav .gnb li:last-child {
    width: 100px;
  }
  
  /* sub_area */
  header .sub {
    width: 100%;
    height: 350px; 
    background: #eaeaea;
    padding-top: 30px; 
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #8d8d8d;
    z-index: 0;
    position: absolute;
    top: 126px;
    left: 0;
    z-index: 3;
    display: none; 
  }
  header .sub .inner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  header .sub .inner .sub_menu {
    width: 920px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  header .sub .inner .sub_menu ul {
    padding-left: 15px; 
    margin-left: 15px;
  }
  header .sub .inner .sub_menu ul li {
    margin-bottom: 10px;
  }
  header .sub .inner .sub_menu ul li strong {
    display: inline-block;
    margin: 5px 0;
    color: #000;
  }
  header .sub .inner .sub_menu ul li span {
    display: inline-block;
    font-weight: 500;
    color: #000;
  }
  header .sub .inner .s01 {
    width: 176px;
    height: 100%;
  }
  header .sub .inner .s02 {
    width: 155px;
    height: 100%;
  }
  header .sub .inner .s03 {
    width: 208px;
    height: 100%;
  }
  header .sub .inner .s04 {
    width: 208px;
    height: 100%;
  }
  header .sub .inner .s05 {
    width: 100px;
    height: 100%;
  }




/*  magazine  */
  .magazine {
    background: #3A260E;
   
  }
  .magazine .inner {
    color: #fff;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
  }
  .magazine .inner figure {
    width: 45%;
    height: 717px;
    padding-left: 60px;
    position: relative;
  }
  .magazine .inner figure::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 130px;
    background: url(../img/sub04/logo-deg.png) no-repeat center/contain;
    position: absolute;
    bottom: 10px; left: 10px;
  }
  .magazine .inner figure::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 130px;
    background: url(../img/sub04/letter-top-obj2.png) no-repeat center/contain;
    position: absolute;
    top: 0; right: -50px;
  }
  .magazine .inner figure img {
    width: 100%;
  }
  .magazine .inner .inner_text {
    width: 45%;
    margin-top: 90px;
  }
  .inner .inner_text strong {
    display: inline-block;
    font-size: 50px;
    margin-bottom: 20px;

   }
  .inner .inner_text strong span {
    color: #A8C345;
  }
  .magazine .inner .inner_text p {
    display: inline-block;
    line-height: 1.8;
    margin-top: 40px;
    opacity: 0.8;
    letter-spacing: -1;
  }


  /* letter_box  */
  .letter_box .inner {
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    margin-bottom: 100px;
    width: 1075px;
    padding: 80px 100px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  .inner .letter_text {
    width: 410px;
  }
  .inner .letter_text .letter_title {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 1.3;    
  }
  .inner .letter_text p {
    line-height: 1.8;
    opacity: 0.8;
    font-size: 16px;
  }


  .letter_box .inner .login_page {
    background: #fff;
    width: 350px;
    padding: 0;
  }
  .letter_box .inner .login_page h3 {
    color: #000;
    font-size: 16px;
  }
  .letter_box .inner .login_page form input {
    width: 100%;
    background: #EAEAEA;
  }
  .letter_box .inner .login_page form .agree {
    color: #000;
  }
  .letter_box .inner .login_page form .agree span {
    border-color: #000;
    opacity: 0.6;
  }



  /* contents */
  .contents .inner {
    width: 1332px;
    display: flex;
    flex-wrap: wrap;
  }
  .inner .inner_conts {
    margin: 0 60px 70px 0;
    width: 288px;
    height: 338px;
    line-height: 1.5;
  }
  .inner .inner_conts:nth-child(4),
  .inner .inner_conts:nth-child(8) {
    margin-right: 0;
  }
  .inner .inner_conts img {
    width: 100%;
    height: 198px;
  }
  .inner .inner_conts span {
    display: inline-block;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 600;
  }
  .inner .inner_conts p {
    margin: 10px 0 30px;
    font-size: 20px;
    font-weight: 400;
  }
  .inner .inner_conts p strong {
    font-weight: 400;
  }

  /* page_list */
  .pagelist {
    width: 100%;
    margin: 0 auto 150px;
    text-align: center;
    color: #000;
    font-size: 15px;
  }
  .pagelist a {
    padding: 0 10px;
    font-weight: 600;
  }
  .pagelist a.color {
    color: #A8C345;
  }
  .pagelist span img {
    padding: 0 10px;
  }
  .pagelist .deg img {
    transform: rotate(180deg);
  } 










  /* footer */
footer {
    height: 473px;
    background: #493F38;
    box-sizing: border-box;
    position: relative;
}
footer .inner {
    color: #fff;
    font-weight: 400;
  }
  footer .inner .go_top {
    position: absolute;
    top: 0;
    right: 15%;
    margin-right: 5px;
  }

  /* footer_info */
  .inner .footer_wrap {
    display: flex;
    justify-content: space-between;
  }

  .inner .footer_info {
    padding-top: 71px;
    width: 696px;
  }
  .footer_info .footer_gnb ul {
    display: flex;
    font-size: 14px;
    font-weight: 600;
  }
  .footer_info .footer_gnb ul li {
    padding: 0 23px;
    position: relative;
  }
  .footer_info .footer_gnb ul li::before {
    content: '';
    position: absolute;
    top: 6px; right: 0;
    width: 1px;
    height: 7px;
    background: #857f7a;
  }
  .footer_info .footer_gnb ul li:last-child::before {
    content: '';
    display: none;
  }
  .footer_info .footer_gnb ul li:first-child {
    padding-left: 0;
  }
  .footer_info .footer_gnb ul li:last-child {
    padding-right: 0;
  }
  
  /* footer_address */
  .footer_info .footer_address {
    height: 210px;
    margin-top: 120px;
    color: #dedede;
  }
  .footer_info .footer_address p {
    height: 27px;
  }
  .footer_address .footer_cs {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 11px;
  }
  .footer_address .footer_cs .text {
    margin-top: 30px;
    color: #dedede;
    line-height: 1.7;
  }
  .footer_address .footer_cs .pri {
    margin-top: 16px;
    line-height: 1.7;
    color: #fff;
  }
  .footer_address .footer_cs .pri strong {
    font-size: 14px;
    
  }
  .footer_address .footer_cs .pri .aft::after{
    content: 'ㅣ';
    font-size: 8px;
    opacity: 0.5;
    padding: 0 8px;
  }
  .footer_address .footer_cs .notice {
    margin-top: 8px;
    color: #fff;
  } 
  .footer_address .footer_cs .copy {
    margin-top: 40px;
    color: #fff;
  }
  .footer_address .footer_cs .as  {
    line-height: 1.5;
    padding-right: 48px;
    font-weight: 600;
  }
  
  /* login_page */
  .inner .login_page {
    width: 29%;
    background: #534740;
    padding: 66px 78px;
    color: #e4e2e2;
    font-weight: 400;    
  }
  .inner .login_page h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    color: #fff;
  }
  .inner .login_page form {
    margin-bottom: 70px;
  }
  .inner .login_page form input {
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-bottom: 10px;
    background: #5c514b;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
  }
  .inner .login_page .agree {
    font-size: 13px;
    height: 30px;
    font-weight: 300;
    color: #b6b3b1;
  }
  .inner .login_page .agree span {
    display: inline-block;
    border: 1px solid #fff;
    position: relative;
    width: 14px; height: 14px;
    margin: 10px 10px 0 0;
    vertical-align: bottom;
  }
  .inner .login_page .agree input:checked + span::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    top: 4px;
    left: 4px;
    
  }
  
  .inner .login_page .agree input {
    width: 15px;
    vertical-align: -webkit-baseline-middle;
    display: none;
  } 
  .inner .login_page form p + p {
    text-decoration: underline;
  }
  .inner .login_page .btn {
    display: flex;
    justify-content: space-between;
    line-height: 50;
  }
  .inner .login_page button {
    width: 170px;
    height: 50px;
    background: #a8c345;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
  }
  .inner .login_page button + button {
    background: #8b8b8b;
    margin-left: 5px;
  }